
@model IEnumerable<Park>

<h2>Top U.S. National Parks</h2>

<div style="display: block">
    <a href="/Review/AddReview/" class="btn btn-outline-primary">Review A Park</a>
</div>
<br />
<div style="display: block">
    <a href="/Park/InsertPark/" class="btn btn-outline-primary">Create a New Park</a>
</div>
<br />


<table class="table table-bordered">
    <tr>
        <th>Park ID</th>
        <th> @Html.ActionLink("Sort Parks By Name", "Index", new {sortOrder=ViewBag.NameSortParm})</th>
        <th>Park Code</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Website</th>
    </tr>

    @foreach (var park in @Model)
    {
        <tr>
            <td><a href="/Park/ViewPark/@park.ParkID" class="btn btn-outline-primary">@park.ParkID</a></td>
            <td>@park.FullName</td>
            <td>@park.ParkCode</td>
            <td>@park.PhoneNumber</td>
            <td>@park.EmailAddress</td>
            <td><button type="button" onclick="window.open('@park.Website', '_blank')">Visit Park Website</button></td>
        </tr>
    }

</table>
