
@model Park

<table class="table">
    <tr>
        <th>Park ID</th>
        <th>Name</th>
        <th>Park Code</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Website</th>
    </tr>
    <tr>
        <td>@Model.ParkID</td>
        <td>@Model.FullName</td>
        <td>@Model.ParkCode</td>
        <td>@Model.PhoneNumber</td>
        <td>@Model.EmailAddress</td>
        <td><button type ="button" onclick="window.open('@Model.Website', '_blank')">Visit Park Website</button></td>
    </tr>
</table>


<div style="display: block">

    @using (Html.BeginForm("UpdatePark", "Park", "Post"))
    {
        <input type="hidden" asp-for="ParkID" value="@Model.ParkID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Update this park" />
    }
</div>
<br />

<div style="display: block">

    @using (Html.BeginForm("DeletePark", "Park", "Post"))
    {
        <input type="hidden" asp-for="ParkID" value="@Model.ParkID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this park" />
    }
</div>
<br />

<div class="park-details">
    <h2>@Model.FullName</h2>
    <img src ="@Model.PhotoURL" alt="@Model.FullName" class="park-photo" />
    </div>




